    {% extends 'admin/layout.html' %}
    {% block adminpagecontent %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% with m = get_flashed_messages() %}
              {% if m %}
                {% for i in m %}
                  <p class="alert alert-success">{{i}}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
         


      </div>

      

      <h2>Section title</h2>
      
    </main>
  </div>
</div>

{% endblock %}

